#feedback{
  text-shadow: 3px 3px 8px white;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  height: fit-content;
  padding:20px;
  margin-bottom:80px;
}

.form-container {
  background-color:#F2BAAF ;
  padding: 40px 0px;
  border-radius: 16px;
  display: flex;
  width: 80%; 
  margin:auto;
  margin-top:15px;
}

form {
  width: 80%;
  margin:auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.submitButton {
  padding: 10px 15px;
  background-color: #FE724C;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 13%;
  float:right;
  margin: 25px 0;
  
}

button:hover {
  background-color: #45a049;

}

.form-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}

.form-row > div {
  flex: 1;
}

.title-container {
  text-align: left;
  margin-bottom: 5px;
}
.title-container h2 {
  font-size: 40px; 
  width:80%;
  margin:20px auto;
}

.title-divider {
  border-top: 1px solid white;
  margin-bottom: 0px;
  width:80%;
  margin:auto;
}

@media only screen and (max-width: 600px) {
  .form-container {
    max-width: 100%;
  }
}